/* custom style effects */

.biro {
  /* pen font */
  font-family: 'Reenie Beanie', cursive;
  /* pen colour */
  --pen-color: #118a;
  color: var(--pen-color);
  /* font size */
  font-size: medium;
  hr {
    border: 1px solid;
  }
}

.a4 {
  margin: 5mm auto;
  width: 210mm;
  height: 297mm;
}

.paper {
  /* paper colour */
  --paper-color: linen;
  /* page shadow */
  box-shadow: 1px 1px 2px black;
  /* paper styling */
  --paper: linear-gradient(90deg, var(--paper-color) 1mm, var(--paper-color));
  --paper-fold: linear-gradient(220deg, #0002 8mm, var(--paper-color) 8.5mm);
}

.ruled {
  /* ruler colour */
  --ruled-color: #33c4;
  /* ruled thickness */
  --ruled-width: 0.5pt;
  /* line height !important for font to line up */
  --lh: calc(2ex + var(--ruled-width));
  /* line height applied */
  line-height: var(--lh);

  /* distance from top rule begins */
  --top-pad: calc(var(--lh) * 4);

  /* ruled pattern */
  --ruled: linear-gradient(transparent, transparent var(--top-pad)),
    repeating-linear-gradient(transparent, transparent 2ex, var(--ruled-color) 2ex, var(--ruled-color) var(--lh));
  /* applied ruled styling */
  background-image: var(--ruled);
  padding-top: var(--top-pad);
}

.margin {
  /* margin colour */
  --margin-color: #e22b;
  /* margin distance from side */
  --margin-distance: 10mm;
  /* margin direction */
  /* margin thickness */
  --margin-width: 1pt;
  /* margin pattern */
  --margin: linear-gradient(
    90deg,
    transparent,
    transparent var(--margin-distance),
    var(--margin-color) calc(var(--margin-distance) + var(--margin-width) / 2),
    transparent calc(var(--margin-distance) + var(--margin-width))
  );
  background-image: var(--margin);
  padding-left: calc(var(--margin-distance) + 2mm);
}

.ruled.margin {
  background-image: var(--margin), var(--ruled), var(--paper);
  background-blend-mode: multiply;
}
