/* custom style effects */

.biro {
  /* pen font */
  font-family: "Reenie Beanie", cursive;
  /* pen colour */
  color: #00aa;
  /* font size */
  font-size: small;
  line-height: 113%;
}

.a4 {
  margin: 0 auto;
  width: 210mm;
  height: 297mm;
}

.paper {
  --bg-color: linen;
  box-shadow: 1px 1px 2px black;
  background-color: linen;
}


.margin {
  /* margin colour */
  --margin-color: red;
  /* margin distance from side */
  --margin-distance: 8mm;
  /* margin side */
  --margin-side: right;
  /* margin thickness */
  --margin-width: 1px;
  /* margin pattern */
  --margin: linear-gradient(
    90deg,
    transparent,
    transparent var(--margin-distance),
    var(--margin-color) calc(var(--margin-distance) + var(--margin-width) / 2),
    transparent calc(var(--margin-distance) + var(--margin-width))
  );
  background-image: var(--margin);
  padding: var(--margin-distance);
}

.ruled {
  /* ruler colour */
  --ruled-color: skyblue;
  /* ruled pattern */
  --ruled: repeating-linear-gradient(transparent, transparent 2ex, var(--ruled-color) 2.1ex, transparent 1em);
  /* ruler styling */
  background-image: var(--ruled);
  padding: 0 ;
}

.ruled.margin {
  background-image:
  var(--margin),
  var(--ruled);
  padding: var(--margin-distance);
}